<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>RFM Stats Dashboard</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#eaeaea" style="border-collapse: collapse;">
    <tr>
        <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
            <p>Dear ${name},</p>
            <p>A logsheet has been uploaded for Service dated  <b>${eventDate}</b> with a total attendance of  <b>${attendance}</b></p>
            <p>Please check the online Google Sheet for more information  <a href="https://docs.google.com/spreadsheets/d/1FVcIACCeLqmUs_vzROnJ0Exk2btJ6Rsw7A4ch8j4ago/edit#gid=0">View More</a></p>
            <p>Thanks</p>
        </td>
    </tr>
    <tr>
        <td  style="padding: 30px 30px 30px 30px;">
            <p><a href="http://rfm.org.za/dashboard/">Visit RFM Stats Dashboard</a></p>
            <p></p>
        </td>
    </tr>
</table>

</body>
</html>